<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="cacheEnabled" value="true" />
        <!-- 打印sql日志 -->
        <setting name="logImpl" value="STDOUT_LOGGING" />
    </settings>
    <!--<plugins>-->
        <!--&lt;!&ndash;<plugin interceptor="com.github.pagehelper.PageHelper">&ndash;&gt;-->
            <!--&lt;!&ndash;&lt;!&ndash; 设置数据库类型 Oracle,Mysql,MariaDB,SQLite,Hsqldb,PostgreSQL六种数据库&ndash;&gt;&ndash;&gt;-->
            <!--&lt;!&ndash;<property name="dialect" value="mysql"/>&ndash;&gt;-->
        <!--&lt;!&ndash;</plugin>&ndash;&gt;-->
    <!--</plugins>-->
</configuration>