<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
       http://www.springframework.org/schema/tx
http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/util
    http://www.springframework.org/schema/util/spring-util.xsd http://www.springframework.org/schema/tool http://www.springframework.org/schema/tool/spring-tool.xsd">


    <context:property-placeholder location="classpath:ssm/db.properties" ignore-unresolvable="true"/>

    <util:properties location="classpath:ssm/db.properties" id="dbConfig"></util:properties>

    <bean class="com.alibaba.druid.pool.DruidDataSource" id="dataSource">
        <property name="driverClassName" value="#{dbConfig.driver}"/>
        <property name="url" value="#{dbConfig.url}"/>
        <property name="username" value="#{dbConfig.username}"/>
        <property name="password" value="#{dbConfig.password}"/>
        <!--<property name="initialSize" value="1" />-->
        <!--<property name="maxActive" value="50" />-->
        <!--<property name="maxIdle" value="0" />-->
        <!--<property name="maxWait" value="30000" />-->
        <!--<property name="filters" value="stat,wall" />-->
        <!--<property name="timeBetweenEvictionRunsMillis" value="3000" />  -->
        <!--<property name="minEvictableIdleTimeMillis" value="300000" />  -->
        <!--<property name="validationQuery" value="SELECT 'x'" />  -->
        <!--<property name="testWhileIdle" value="true" />  -->
        <!--<property name="testOnBorrow" value="false" />  -->
        <!--<property name="testOnReturn" value="false" />  -->
        <!--<property name="poolPreparedStatements" value="true" />  -->
        <!--<property name="maxPoolPreparedStatementPerConnectionSize" value="20" />-->
    </bean>

    <bean class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="configLocation" value="classpath:ssm/mybatisConfig.xml"/>
        <!--<property name="mapperLocations" value="classpath:mappers/*.xml"/>-->
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="cn.xzit.dao"/>
    </bean>

    <bean class="org.springframework.jdbc.core.JdbcTemplate" id="jdbcTemplate">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <bean class="org.springframework.jdbc.core.namedparam.NamedParameterJdbcTemplate" id="namedParameterJdbcTemplate">
        <constructor-arg name="dataSource" ref="dataSource"></constructor-arg>
    </bean>

    <bean class="org.springframework.jdbc.datasource.DataSourceTransactionManager" id="transactionManager">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <tx:annotation-driven></tx:annotation-driven>
</beans>